.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  background-color: #4caf50;
}

.dropdown-menu {
  margin: 0;
  z-index: 1;
  padding: 0;
  width: 100%;
  list-style: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}
