.product-card-main {
  width: 75%;
  height: 103vh;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
.product-card {
  flex: 2 1 30%;
  padding: 10px;
  height: 350px;
  border-bottom: none;
  border: 1px solid #eae8e8;
}

.lable-sold {
  width: 80px;
  padding: 5px;
  height: 24px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background-color: #035011;
}
.lable-hot {
  width: 80px;
  height: 24px;
  padding: 2px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #ae0606;
}
.lable-discount {
  width: 100px;
  height: 24px;
  padding: 2px;
  font-weight: 800;
  text-align: center;
  background-color: #efd33d;
}

.title > p {
  height: 18px;
  font-size: 14px;
  padding-top: 10px;
  text-align: justify;
}
.price > p {
  display: inline;
  font-size: 16px;
  font-weight: 700;
  color: #989898;
  text-decoration: line-through;
}
.image {
  cursor: pointer;
  background: transparent;
}
.price > span {
  font-size: 20px;
  font-weight: 700;
  color: #2da5f3;
  margin-left: 10px;
  text-decoration: none;
}
.price > h6 {
  display: inline;
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}
.star > h6 {
  display: inline;
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}
