.userSignIn-main {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.userSignIn-card {
  width: 500px;
  height: 90%;
  display: flex;
  padding: 18px 26px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.sign-heading {
  width: 100%;
  height: 50px;
}
.sign-heading > h2 {
  font-size: 26px;
  font-weight: bold;
}
.sign-form {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h4 {
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #191c1f;
  font-weight: bold;
  padding-top: 10px;
}
.input-field {
  width: 100%;
  height: 50px;
  padding: 20px;
  outline: none;
  font-size: 14px;
  border: 1px solid #a9a9a9;
}
form {
  position: relative;
}
.eye-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 20px;
  cursor: pointer;
}
.forgot-password {
  padding-top: 12px;
}
.forgot-password > a {
  font-size: 14px;
  color: #2da5f3;
  transition: all 0.5;
}
.forgot-password > a:hover {
  text-decoration: underline;
}
.sign-btn {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  background-color: #fa8232;
}
.sign-btn > p {
  display: inline;
  text-transform: uppercase;
}
.sign-btn > span {
  color: #fff;
  font-size: 22px;
}
.other-sign {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.other-sign > p {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.create-account {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #d6d6d6;
}
.create-account > a {
  font-size: 16px;
}
.google-sign {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #d6d6d6;
}
.google-sign > p {
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  color: #475156;
  text-align: center;
  text-transform: capitalize;
}
.google-sign > p > span {
  font-size: 20px;
  margin-left: 10px;
}
.apple-sign {
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin-top: 5px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #d6d6d6;
}
.apple-sign > p {
  width: 100%;
  font-size: 16px;
  color: #475156;
  text-align: center;
  text-transform: capitalize;
}
.apple-sign > p > span {
  font-size: 20px;
  margin-left: 10px;
}
.input-error {
  width: 100%;
  color: #ff0808;
  text-transform: capitalize;
}
.toast-success {
  color: #52ff0e !important;
  background-color: #fefffe !important;
}

.toast-body {
  width: 100%;
  color: #000000 !important;
}
.custom-toast-container {
  width: 400px;
}
.display-none {
  display: none;
}
