.freature-products-main {
  width: 100%;
  display: flex;
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.freature-products-left {
  width: 24%;
  height: 615px;
  padding: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f3de6d;
}
.freature-products-left-ad > h3 {
  width: 100%;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #be4646;
  padding-top: 15px;
  text-transform: uppercase;
}
.freature-products-left-ad > h2 {
  width: 100%;
  height: 25px;
  font-size: 26px;
  font-weight: 600;
  padding-top: 15px;
  text-transform: capitalize;
}
.freature-products-left-ad > h6 {
  width: 100%;
  height: 25px;
  font-size: 14px;
  color: #77878f;
  padding-top: 20px;
}

.freature-products-left-ad > p {
  width: 100%;
  height: 40px;
  color: #000;
  font-size: 16px;
  padding-top: 15px;
}
.freature-products-left-ad > p > span {
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
}
.freature-products-left-ad > button {
  border: none;
  width: 150px;
  height: 45px;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 14px;
  background-color: #ff6a00;
}
.freature-products-left-ad > button span {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.freature-products-left-ad > img {
  cursor: pointer;
}
.freature-products-right {
  width: 75%;
  height: 615px;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
}

.freature-products-right-nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.freture-heading {
  width: 40%;
  padding: 12px;
}
.freture-heading > h2 {
  font-size: 24px;
  font-weight: 600;
}
.nav-browser {
  width: 60%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.nav-browser > a {
  font-size: 14px;
  position: relative;
  transition: 1.5s all;
}

.nav-browser > a::before {
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #02a6ff;
  transition: transform 0.3s ease-in-out;
}

.nav-browser > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.icon-link {
  margin-right: 5px;
  color: #ff6a00;
  font-weight: 700;
}
.icon-link::before {
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #ff6a00 !important;
  transition: transform 0.3s ease-in-out;
}
.icon-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.icon-link span {
  font-size: 14px;
}
.right-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  border: 1px solid #d4d4d4;
}
.product-card {
  flex: 2 1 30%;
  padding: 10px;
  height: 350px;
  border-bottom: none;
  border: 1px solid #eae8e8;
}
.freature-products-title > p {
  height: 30px;
  font-size: 12px;
  padding-top: 10px;
  font-weight: bold;
  text-align: justify;
}
.freature-products-price > h6 {
  display: inline;
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}
.freature-products-price > p {
  font-size: 16px;
  display: inline;
  font-weight: 700;
  color: #1f6af7;
  text-decoration: none;
}
.image {
  cursor: pointer;
  background: transparent;
}
.freature-products-star {
  padding-top: 20px;
}
.freature-products-star > h6 {
  display: inline;
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}
.lable-hot {
  width: 80px;
  height: 24px;
  padding: 2px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #ae0606;
}
