.news-card-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.news-card-main > h2 {
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
}
.news-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 22px 28px;
}
.news-card {
  width: 33%;
  margin: 10px;
  padding: 18px;
  height: 600px;
  display: flex;
  flex: 2 1 30%;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #f3f3f3;
}
.news-image {
  width: 100%;
  height: 100%;
}
.news-image > center > img {
  width: 90%;
  height: 300px;
  cursor: pointer;
}
.news-icons {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-icons > div {
  width: 33%;
  height: 100%;
}
.news-icons > div > p {
  color: #000;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
  text-transform: capitalize;
}
.news-icons > div > p > span {
  font-size: 14px;
  color: #fa8232;
  margin-left: 10px;
}
.news-title {
  width: 100%;
  height: 60px;
}
.news-title > p {
  font-size: 14px;
  padding-top: 5px;
  font-weight: bold;
  text-align: justify;
  text-transform: capitalize;
}
.news-description {
  width: 100%;
  height: 140px;
}
.news-description > p {
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 16px;
}
.news-btn {
  width: 100%;
  height: 80px;
}
.news-btn button {
  height: 90%;
  padding: 12px;
  outline: none;
  font-size: 16px;
  color: #fa8232;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fa8232;
  background-color: #ffffff;
}
.news-btn button > span {
  font-size: 20px;
}
.news-btn button > a {
  color: #fa8232;
}
