.user-sign-up-main {
  width: 100%;
  display: flex;
  padding: 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.user-sign-up-card {
  width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sign-up-form {
  width: 100%;
  padding: 18px;
  flex-direction: column;
}

.user-sign-up-heading {
  width: 100%;
  height: auto;
}

.user-sign-up-heading > h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: capitalize;
}

Form > h6 {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  padding-top: 14px;
}

form .input-field {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #cecece;
}

form .check-box {
  top: 7px;
  left: 0px;
  margin-top: 8px;
  margin-right: 10px;
  position: absolute;
}

.checkbox-text {
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}

.signupbtn {
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-transform: uppercase;
  background-color: #fa8232;
}

.signupbtn:hover {
  background-color: #e5711f;
}

.Sign-up-other-links {
  width: 100%;
  display: flex;
  padding: 10px 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.create-account > p {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  text-transform: capitalize;
}

.create-account > p > a > span {
  color: #2da5f3;
}

.create-account > p > a > span:hover {
  text-decoration: underline;
}

.other {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.third-party-sign-up {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid #cecece;
}

.third-party-sign-up > p {
  margin: 0;
  font-size: 18px;
}

.input-error {
  width: 100%;
  margin-top: 5px;
  color: #ff0808;
  text-transform: capitalize;
}

.display-none {
  display: none;
}
.checkbox-text > p > span {
  cursor: pointer;
  color: #e5711f;
}
.password-wrapper {
  position: relative;
}

.sign-up-eye-icon {
  top: 15px;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}
