.freature-products-main {
  width: 100%;
  display: flex;
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.freature-products-left-ads {
  width: 24%;
  height: 615px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.freature-products-left-ad-top {
  height: 70%;
  width: 100%;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f7e99e;
}
.ads-image {
  width: 100%;
  height: 40%;
}
.ads-image > img {
  height: 100%;
  cursor: pointer;
}
.freature-products-left-ad-top > .top-ads-heading {
  width: 100%;
  height: 20%;
}
.freature-products-left-ad-top > .top-ads-heading > h3 {
  font-size: 24px;
  font-weight: 600;
  background: transparent;
}
.ads-description {
  width: 100%;
  height: 25%;
}
.ads-description > p {
  width: 100%;
  font-size: 14px;
  color: #575757;
  text-align: center;
}
.ads-price {
  width: 100%;
  height: 25%;
}
.ads-price > p {
  display: inline;
  font-size: 14px;
}
.ads-price > p > span {
  padding: 8px;
  font-weight: 700;
  background-color: #fff;
}
.ads-button {
  padding-top: 12px;
}
.ads-button > button {
  border: none;
  padding: 8px;
  width: 200px;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: #ff6a00;
}
.ads-button > button > span {
  font-size: 20px;
}
.freature-products-left-ad-bottom {
  height: 40%;
  width: 100%;
  display: flex;
  padding: 18px;
  margin-top: 14px;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #124261;
}
.bottom-ads-lable {
  width: 120px;
  height: auto;
}
.bottom-ads-lable > p {
  color: #fff;
  background-color: #baaeae;
  text-transform: uppercase;
}
.ads-discount-lable > p {
  font-size: 26px;
  color: #fff;
}
.ads-description > p {
  color: #fff;
}
.ads-description > p > span {
  color: #ffe608;
  cursor: pointer;
  text-transform: capitalize;
}
.bottom-ad-button > button {
  border: none;
  padding: 8px;
  width: 200px;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: #2da5f3;
}
.bottom-ad-button > button > span {
  font-size: 20px;
}
.freature-products-right {
  width: 75%;
  height: 615px;
  display: flex;
  flex-direction: column;
}

.freature-products-right-nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.freture-heading {
  width: 40%;
  padding: 12px;
}
.freture-heading > h2 {
  font-size: 24px;
  font-weight: 600;
}
.nav-browser {
  width: 60%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.nav-browser > a {
  font-size: 14px;
  position: relative;
  transition: 1.5s all;
}

.nav-browser > a::before {
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #02a6ff;
  transition: transform 0.3s ease-in-out;
}

.nav-browser > a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.icon-link {
  margin-right: 5px;
  color: #ff6a00;
  font-weight: 700;
}
.icon-link::before {
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 4px;
  transform: scaleX(0);
  transform-origin: right;
  background-color: #ff6a00 !important;
  transition: transform 0.3s ease-in-out;
}
.icon-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.icon-link span {
  font-size: 14px;
}
.right-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  border: 1px solid #d4d4d4;
}
.product-card {
  flex: 2 1 30%;
  padding: 10px;
  height: 350px;
  border-bottom: none;
  border: 1px solid #eae8e8;
}
.freature-products-title > p {
  height: 30px;
  font-size: 12px;
  padding-top: 10px;
  font-weight: bold;
  text-align: justify;
}
.freature-products-price > h6 {
  display: inline;
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}
.freature-products-price > p {
  font-size: 16px;
  display: inline;
  font-weight: 700;
  color: #1f6af7;
  text-decoration: none;
}
.image {
  cursor: pointer;
  background: transparent;
}
.freature-products-star {
  padding-top: 20px;
}
.freature-products-star > h6 {
  display: inline;
  font-size: 16px;
  font-weight: 700;
  margin-right: 5px;
}
.lable-hot {
  width: 80px;
  height: 24px;
  padding: 2px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #ae0606;
}
