.checkout-main {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: #fff;
}
.checkout-main form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-main > h3 {
  width: 100%;
  height: 50px;
  font-weight: bold;
}
.billing-Section {
  width: 70%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e6e5e5;
}
.lables {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lables > label {
  width: 33%;
  font-size: 20px;
  margin-left: 5px;
  color: #7d7d7d;
  text-align: justify;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputs > input {
  width: 33%;
  height: 50px;
  padding: 12px;
  outline: none;
  font-size: 16px;
  color: #7d7d7d;
  border: 1px solid #dbdada;
}
.addresslables {
  margin-top: 20px;
  width: 100%;
}
.addresslables > label {
  font-size: 20px;
  margin-left: 5px;
  color: #7d7d7d;
  text-align: justify;
}
.addressInput {
  width: 100%;
}
.addressInput > input {
  width: 100%;
}

.section-third {
  margin-top: 20px;
}
.payment-option-section {
  display: flex;
  flex-direction: column;
}
.payment-option-section > h3 {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-weight: bold;
}
.payment-total {
  width: 30%;
  height: 100%;
  padding: 40px;
  border: 1px solid #7d7d7d;
}
.payment-total > h3 {
  width: 100%;
  height: 50px;
  font-weight: bold;
}
