* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  height: 50px;
  display: flex;
  color: #fff;
  align-items: center;
  background-color: #1b6392;
  padding: 40px 30px 30px 30px;
  justify-content: space-around;
}
.header > .text > p {
  font-size: 15px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: left;
}
.header-right > .header-iocns > p {
  font-size: 15px;
  margin-right: 5px;
}
.header-right > .header-iocns > p > span {
  margin: 10px;
  cursor: pointer;
}
.header-right > .divider {
  width: 1px;
  height: 15px;
  background-color: #fff;
}
.header-languages {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-languages > div > p {
  margin-right: 20px;
}

.header-lower {
  height: 80px;
  display: flex;
  color: #fff;
  align-items: center;
  background-color: #1b6392;
  padding: 40px 30px 30px 30px;
  justify-content: space-around;
}
.header-lower > .logo {
  width: 15%;
  height: auto;
}
/* .header-lower > .logo > a > img {
  width: 80%;
} */
.header-lower .serach-bar {
  width: 40%;
}
.header-lower .serach-bar form .product-search {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  position: relative;
  padding-left: 10px;
}
.serach-bar form .searchBtn {
  right: 1%;
  width: 50px;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #000;
  position: absolute;
  background: transparent;
}
.header-lower > .user-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-lower > .user-icons > p {
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
}
.header-lower > .user-icons > p > a {
  color: #fff;
  text-decoration: none;
}
.header-nav {
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-around;
}
.user-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li {
  list-style: none;
  margin-right: 10px;
}
ul li p {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
}

ul li p span {
  gap: 10px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
}
.header-nav .user-nav .user-nav-list .category {
  padding: 10px;
  margin-top: 12px;
  background: #dadada;
}
.header-nav .help p {
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}
.header-nav .help p span {
  font-size: 20px;
  cursor: pointer;
}
