* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
.navBar {
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #000f9e 0%, #000000 59%);
}
.navBar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}
.navBar nav .logo {
  width: 25%;
  height: auto;
  padding: 10px 24px;
}
.navBar nav .logo a h3 {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
}
.navBar nav .logo a h3 span {
  font-size: 40px;
  cursor: pointer;
}
.navBar .navlinks {
  padding: 18px 26px;
}
.navBar .navlinks a {
  color: #fff;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}
