.long-banner-main {
  width: 100%;
  height: 500px;
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.long-banner-container {
  width: 100%;
  display: flex;
  height: 350px;
  align-items: center;
  background-color: #ffe7d6;
  justify-content: space-between;
}
.long-banner-text {
  width: 50%;
  height: 100%;
  padding: 60px;
  text-align: left;
}
.long-banner-text h3 {
  width: 170px;
  padding: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #2da5f3;
  padding: 10px 10px 10px 0px;
}
.long-banner-text h2 {
  width: 400px;
  font-size: 40px;
  padding: 10px 10px 10px 0px;
}
.long-banner-text p {
  width: 400px;
  font-size: 20px;
  font-weight: 500;
  padding-right: 10px;
}
.long-banner-btn button {
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  background-color: #fa8232;
}
.long-banner-btn button > span {
  font-size: 20px;
  padding-bottom: 10px;
}
.long-banner-image {
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.long-banner-image > img {
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.long-banner-price {
  top: 6%;
  left: 25%;
  width: 100px;
  height: 100px;
  padding-top: 24px;
  padding-left: 2px;
  border-radius: 50%;
  position: absolute;
  border: 5px solid #fff;
  background-color: #ffcead;
}
.long-banner-price p {
  color: #000;
  font-size: 16px;
  padding-top: 6px;
  font-weight: 600;
  text-align: center;
}
