.footer-main {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  background-color: #303639;
}
.footer-sections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-top-section {
  height: 90%;
  width: 100%;
  color: #fff;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-top-section > .branding-section {
  width: 24%;
  margin: 5px;
  height: 100%;
  padding: 25px;
}
.footer-logo {
  width: 100%;
  height: 20%;
  cursor: pointer;
  padding-top: 30px;
}
.footer-info {
  width: 100%;
  height: 80%;
  padding-top: 18px;
}
.footer-info > h4 {
  font-size: 20px;
  color: #fff;
  height: 40px;
}
.footer-info > p {
  font-size: 18px;
  cursor: pointer;
  text-align: left;
  color: #9a9999;
}
.top-category-section {
  width: 18%;
  height: 100%;
  margin: 5px;
}
.top-category-section > h2 {
  width: 100%;
  height: 15%;
  color: #fff;
  padding: 25px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
.category-list {
  width: 100%;
  height: 80%;
}
.category-list > ul > li {
  list-style: none;
  font-size: 16px;
  padding-top: 18px;
  cursor: pointer;
}
.category-list > ul > li:hover {
  color: #fa8232;
}
.quick-links-section {
  width: 18%;
  height: 100%;
  margin: 5px;
}
.quick-links-section > h2 {
  width: 100%;
  height: 15%;
  color: #fff;
  padding: 25px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}
.download-section {
  width: 20%;
  margin: 5px;
  height: 100%;
}
.download-section > h2 {
  width: 100%;
  height: 15%;
  color: #fff;
  padding: 25px;
  font-size: 16px;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
}
.download-section > .play-store-icon {
  width: 70%;
  height: 15%;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  background-color: #9a9999;
  justify-content: space-between;
}
.download-section > .play-store-icon > p {
  font-size: 40px;
  width: 50%;
  text-align: center;
  cursor: pointer;
}
.download-section > .play-store-icon > .play-store-text {
  width: 50%;
  font-size: 14px;
  padding-top: 12px;
}
.download-section > .app-store-icon {
  width: 70%;
  height: 15%;
  display: flex;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  align-items: center;
  background-color: #9a9999;
  justify-content: space-between;
}
.download-section > .app-store-icon > p {
  width: 50%;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
}
.download-section > .app-store-icon > .app-store-text {
  width: 50%;
  font-size: 14px;
  padding-top: 12px;
}
.tag-section {
  width: 20%;
  margin: 5px;
  height: 100%;
}
.tag-section > h2 {
  width: 100%;
  height: 15%;
  color: #fff;
  padding: 25px;
  font-size: 16px;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
}
.tag-section > .tags {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tag-section > .tags > p {
  margin: 4px;
  width: 100%;
  height: 50px;
  flex: 1 2 30%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border: 1px solid #9a9999;
  text-transform: capitalize;
}
.tag-section > .tags > p:hover {
  border: 1px solid #fa8232;
  color: #fa8232;
}
.footer-bottom-section {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #9a9999;
}
.footer-bottom-section > p {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #9a9999;
  font-weight: bold;
  text-align: center;
}
.footer-bottom-section > p > span {
  cursor: pointer;
  color: #fa8232;
}
