.send-otp-email {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.send-otp-card {
  width: 500px;
  height: 500px;
  display: flex;
  padding: 18px 26px;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.send-otp-heding {
  width: 100%;
  height: 50px;
}
.send-otp-heding > h2 {
  padding: 14px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.description {
  width: 100%;
  height: 50px;
}
.description > p {
  font-size: 14px;
  color: #5f6c72;
  text-align: center;
  text-transform: capitalize;
}
.email-form {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
}
.email-form > h6 {
  height: 20px;
  font-size: 14px;
  color: #191c1f;
  padding-left: 10px;
}
.input-field {
  width: 100%;
  height: 60px;
  padding: 12px;
  outline: none;
  font-size: 14px;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #a9a9a9;
}
button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background-color: #fa8232;
}
button > p {
  color: #fff;
  font-size: 16px;
  padding-top: 10px;
  text-transform: uppercase;
}
button > p > span {
  font-size: 20px;
  cursor: pointer;
}
.other-links {
  width: 100%;
  height: 50px;
}
.other-links > p {
  width: 100%;
  font-size: 14px;
  /* font-weight: bold; */
}
.other-links > p > a {
  font-size: 14px;
  margin-left: 5px;
  color: #3c7aff;
  transition: 0.5 all;
}
.other-links > p > a:hover {
  text-decoration: underline;
}
.term-and-service {
  width: 100%;
}
.term-and-service > p {
  font-size: 16px;
}
.term-and-service > p > a {
  cursor: pointer;
  color: #fa8232;
}
