.product-slider {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  background-color: #fff;
  /* border: 1px solid #000; */
}

.slider-card {
  width: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.slider-image {
  border: 1px solid #aeaeae;
  padding: 20px;
}

.slider-text p {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}
